.App {
 display: flex;
 justify-content: center;
 align-items: center;
 background: url("https://w0.peakpx.com/wallpaper/143/818/HD-wallpaper-nature-nature.jpg");
 min-height: 100vh;

}
input{
 display: flex;
height: 20px;
border-radius: 10px;
width: 250px;
}
.contacTitle{
  text-transform: uppercase;
}
.mainDiv{
  margin-top: 100px;
border: 2px solid rgb(255, 255, 255);
width: 300px;
border-radius: 10px;
backdrop-filter:blur(1.9px) ;
}
.secondDiv{
  padding: 30px;
}
button{
  border-radius: 10px;
  width: 80px;
  margin-left: 80px;
  background: transparent;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 800;
  border: none;
  cursor: pointer;
}
label{
  color: rgb(66, 240, 13);
  font-weight: 800;
}
h1{
  margin-left:60px;
  color: rgb(255, 255, 255);
}
p{
  color: white;
  position: relative;
  bottom: 15px;
  font-weight: 800;
}

table{
  color: white;
  margin-left: 10px;
}
.getDAta{
  position: relative;
  top: -20px;
  right: -30px;
}
.tablediv{
  position: relative;
  left: 1200px;
  transition: 2s;
}